*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
}

.tampilan {
  justify-content: center;
  margin: auto;
  align-items: center;
  display: flex;
  min-height: 100vh;
}

.kanan {
  text-decoration: none;
  padding: 25px;
  border: solid white;
  box-shadow: 3px 1px 15px 9px hsl(234, 85%, 45%, 0.1);
  border-radius: 1rem;
}

.scored {
  text-align: center;
}
.scored p {
  color: rgb(187, 178, 178);
}
.kiri {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 0.8),
    hsl(241, 81%, 54%)
  );
  color: white;
  justify-content: center;
  padding: 40px;

  align-items: center;
  border-radius: 2rem;
}

.kiri h1 {
  text-align: center;
  font-size: 18px;
}

.lingkaran {
  height: 200px;
  width: 200px;
  background: linear-gradient(
    to bottom,
    hsl(241, 81%, 54%),
    hsla(256, 72%, 46%, 0.8)
  );
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lingkaran h2 {
  text-align: center;
  line-height: 1;
}

.a76 {
  font-size: 60px;
}

.a100 {
  font-size: 15px;
  padding-left: 10px;
}

.result {
  padding: 20px;
  color: rgb(187, 178, 178);
}

.kanan h2 {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style: none;
  margin-top: 20px;
}

.great {
  font-size: 25px;
}
.reaction {
  display: flex;
  gap: 10rem;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 1rem;
  background-color: hsla(0, 100%, 67%, 0.1);
}

.r1 {
  color: hsl(0, 100%, 67%);
}

.r2 {
  color: hsl(224, 30%, 27%);
}
.memory {
  display: flex;
  gap: 10rem;
  background-color: hsla(39, 100%, 56%, 0.1);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 1rem;
}

.m1 {
  color: hsl(39, 100%, 56%);
}

.m2 {
  color: hsl(224, 30%, 27%);
}

.verbal {
  display: flex;
  gap: 11rem;
  background-color: hsla(166, 100%, 37%, 0.1);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 1rem;
}

.p1 {
  color: hsl(166, 100%, 37%);
}

.p2 {
  color: hsl(224, 30%, 27%);
}

.visual {
  display: flex;
  gap: 11rem;
  background-color: hsl(234, 85%, 45%, 0.1);
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 30px;
  border-radius: 1rem;
}

.v1 {
  color: hsl(234, 85%, 45%);
}

.v2 {
  color: hsl(224, 30%, 27%);
}

.conti {
  color: white;
  background: linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 0.8),
    hsl(241, 81%, 54%)
  );
  text-align: center;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3rem;
  margin-block: 30px;
  display: block;
  width: 100%;
  border: none;
  cursor: pointer;
}

.sp {
  color: gray;
}

.logo {
  display: flex;
  gap: 0.9rem;
}
